html{
  box-sizing: border-box;
}
*,
* ::before,
* ::after{
  box-sizing: inherit; 
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #D6E0F0;
  transition: all 0.2s;
  color: #8D93AB;

  background-image: url("../images/header-bcg.png");
  background-repeat: no-repeat;
  background-size: 1600px 800px;
  transition: all 0.2s;
  color: #393b44;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.container{
  padding: 0% 5%;
}

h4 {
  font-weight: 600;
  font-size: 1.3rem;
  color: #393B44;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-heading {
  color: #393B44;
}

.benifits {
  color: #00ADB5;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

/////////////////////////////// Styles Dark Theme /////////////////
.dark {
  background-image: url("../images/header-bcg-dark.png");
  background-color: #393b44;
  background-repeat: no-repeat;
  background-size: 1600px 800px;
  color: #F1F3F8;
}

.dark-nav {
  color: #F1F3F8;
}